.container {
  width: 1000px;
  height: 100vh;
  padding-top: 120px;
  padding-left: 130px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
  margin-right: auto;
  min-height: 100vh;
}

.contant {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1000px !important;
  height: 1100px;
  background-color: #fff;
  overflow-y: auto;
}

.rowLine {
  flex: 0 auto;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  display: flex;
  height: 40px;
  min-height: 40px !important;
}

.btnAppLogin {
  padding: 0;
  display: block !important;
  margin: 0 auto !important;
  width: 168px;
  height: 92px;
  border: none;
  background-image: url("../pages/assets/buttons/login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: unset !important;
}

.btnAppLogin:hover {
  box-shadow: 10px 5px 5px black;
}

.btnAppLoginSmall {
  padding: 0;
  display: block !important;
  margin: 0 auto !important;
  width: 84px;
  height: 46px;
  border: none;
  background-image: url("../pages/assets/buttons/login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: unset !important;
}

.btnAppNextSmall {
  padding: 0;
  display: block !important;
  margin: 0 auto !important;
  width: 84px;
  height: 46px;
  border: none;
  background-image: url("../pages/assets/buttons/next.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: unset !important;
}

.btnAppLoginSmall:hover {
  box-shadow: 5px 3px 3px black;
}

.btnAppCreate {
  display: block !important;
  margin: 0 auto !important;
  width: 168px;
  height: 92px;
  border: none;
  background-image: url("../pages/assets/buttons/register.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: unset !important;
}

.btnAppCreate:hover {
  box-shadow: 10px 5px 5px black;
}

.btnGoogleLogin {
  display: block !important;
  margin: 0 auto !important;
  width: 168px;
  height: 92px;
  border: none;
  background-image: url("../pages/assets/buttons/GoogleLogin.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: unset !important;
}

.btnGoogleLogin:hover {
  box-shadow: 10px 5px 5px black;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title a {
  color: #0070f3;
  text-decoration: none;
  padding: 0;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.colLeftMain {
  display: block;
  text-align: right;
  font-size: 16px;
}

.colLeftSub {
  display: block;
  text-align: right;
  font-size: 8px;
}

.colRightMain {
  display: block;
  padding: 0;
  text-align: left;
  font-size: 18px;
  margin-bottom: 0;
  width: 60%;
}

.colRightSub {
  display: block;
  margin-top: 0px;
  padding: 0;
  text-align: left;
  font-size: 8px;
}

.colLeftMain2 {
  display: block;
  text-align: right;
  font-size: 14px;
}

.colLeftSub2 {
  display: block;
  text-align: right;
  font-size: 5px;
}

.colRightMain2 {
  display: block;
  padding: 0;
  text-align: left;
  font-size: 14px;
  margin-bottom: 0;
  width: 60%;
}

.colRightSub2 {
  display: block;
  margin-top: 0px;
  padding: 0;
  text-align: left;
  font-size: 5px;
}
.m0 {
  text-align: center;
  display: block;
}

.textorange {
  display: block;
  margin-top: 0px;
  color: #f7931e;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}

.textpurple {
  display: block;
  color: #1b1464;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}
.bgorange {
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: normal;
  font-size: 8px;
  color: #ffffff;
  background-color: #f7931e;
  margin-bottom: 10px;
}
.bgboarder {
  border: 1px solid #f7931e;
}
.rightSelect {
  display: block;
  padding: 0;
  text-align: left;
  font-size: 16px;
  margin-bottom: 0;
  width: 60%;
}
.sheetcell {
  height: 50px;
}
.pagemain {
  font-size: 10px;
  text-align: left;
}
.pagevalue {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}
.pagevaluebig {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}
.sidetitle {
  writing-mode: vertical-lr;
  color: #ffffff;
  padding-left: 80px;
}
.sidecolumn {
  background-color: #c0c0c0;
}
.bgboarder {
  border: 1px solid #f7931e;
}
