.eventselect {
  display: block;
  padding: 0;
  text-align: left;
  font-size: 12px;
  height: 15px;
  margin-bottom: 0;
  width: 100%;
}

.datepicker {
  display: block;
  padding: 0;
  text-align: left;
  font-size: 16px;
  margin-bottom: 0;
  width: 100%;
}
